.page {
    display: flex;
}

.page > .aside {
    width: 200px;
    height: 100%;
    min-height: 100vh;
    border-right: 2px solid #000;
}

.page > .aside > ul {
    overflow: auto;
}

.page > .aside > .logo {
    text-align: center;
}

.page > .content {
    flex: 1;
    width: 0;
    padding: 10px;
}
